.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}

.CustomH1 {
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
  color: #ffffff;
}

body {
  background-color: #282c34;
  color: #ffffff;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  background-color: #282c34;
  margin-top: 2rem;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

input {
  height: 2rem;
  padding: 0.5rem;
}

a {
  color: #ffffff;
  font-weight: bold;
}

.row3 {
  max-width: 900px;
}
